In [1]:
#general 
import pandas as pd
import numpy as np

#us census 
from census import Census
from us import states
import config

In [2]:
c = Census(config.api_key, year = 2016)
c.acs5.get(('NAME', 'B25034_010E'),
          {'for': 'state:{}'.format(states.SD.fips)})

[{'B25034_010E': 18739.0, 'NAME': 'South Dakota', 'state': '46'}]

In [3]:
c.acs5.state(('NAME', 'B25034_010E'), states.MD.fips)

[{'B25034_010E': 133511.0, 'NAME': 'Maryland', 'state': '24'}]

In [4]:
c.acs5.zipcode(('NAME', 'B01003_001E'), 10027)

[{'B01003_001E': 64120.0,
  'NAME': 'ZCTA5 10027',
  'zip code tabulation area': '10027'}]

In [5]:
#Total Population 
c.acs5.state(('NAME', 'B01003_001E'), states.MD.fips) 
#Population: white-alone
c.acs5.zipcode(('NAME', "B02001_002E"), 10027)
#Number of persons whose income in the past 12 months is below the poverty level.
c.acs5.zipcode(('NAME', "B17001_002E"), 90210)
#Median household income in the past 12 months (in 2013 inflation-adjusted dollars).
c.acs5.zipcode(('NAME', "B19013_001E"), 90210)
#Number of unemployed, age 16 or older, in the civilian labor force.
c.acs5.zipcode(('NAME', "B23025_005E"), 90210)
#Number of persons, age 16 or older, not in the labor force.
c.acs5.zipcode(('NAME', "B23025_007E"), 90210)
#The number of persons age 25 and over who completed no schooling.
d1 = c.acs5.zipcode(("B15003_002E"), 90210)
#The number of persons age 25 and over who have a regular high school diploma.
d2 = c.acs5.zipcode(("B15003_017E"), 90210)
#The number of persons age 25 and over who hold a Bachelor's degree
pd.DataFrame(c.acs5.zipcode(('NAME', "B15003_022E"), 90210))

   B15003_022E         NAME zip code tabulation area
0       5008.0  ZCTA5 90210                    90210

In [8]:
variables = "B01003_001E", "B02001_002E", "B17001_002E", "B19013_001E", "B23025_005E", "B23025_007E", "B15003_002E", "B15003_017E", "B15003_022E"

In [9]:
data_list = []
for zip_code in zip_codes :
    data_zip_code = c.acs5.zipcode((variables), zip_code)
    data_list.extend(data_zip_code)

df = pd.DataFrame(data_list)

NameError: name 'zip_codes' is not defined